.face-snap-card {
    width: 35%;
    img {
      width: 100%;
    }
    margin: 2% 2%;
    border: 6px double black;
    padding: 2% 2%;
    border-radius: 4.5%;
  }

  .snapped {
    background-color: rgba(lightgreen, 0.4);
    color: darkgreen;
    button {
      box-shadow: lightgreen 3px 3px 7px;
      color: darkgreen;
      &:active {
        box-shadow: lightgreen 0 0 5px;
      }
    }
  }