<app-header></app-header>
<router-outlet></router-outlet>

<!--<h1>{{ interval$| async}}</h1>-->
<!--<button (click)="switchCam()">Changement caméra</button>-->
<!--<app-face-snap-list></app-face-snap-list>-->
<!-- Ne va plus marcher
<app-face-snap *ngFor="let faceSnapElemArray of faceSnaps" 
[faceSnap]="faceSnapElemArray"></app-face-snap>
-->
<!-- 
    Ancienne manière d'appel des components 
    Car ils étaient déclaré manuellement
    <app-face-snap [faceSnap]="myOtherSnap"></app-face-snap>
    <app-face-snap [faceSnap]="myLastSnap"></app-face-snap>
-->
<!--<app-face-snap></app-face-snap>-->